section#services
    .container
        .services__inner
            img.services__cube-img(src="../img/service-polygon.png" alt="")
            h2.services__title услуги   
        .services__cards.d-flex
            .col-4
                .services__item-block.col-8.plan
                    img(src="../img/block_1.svg" alt="icon")
                    a(href="./services.html") 
                        p.service__text Разрабатываем маркетинг-план: дорожная карта достижения целей
            .services__item.col-8
                .services__item-block.col-12.lamp
                    img.lamp__img(src="../img/block_2.svg" alt="icon")
                    a(href="./services.html") 
                        p.service__text.item-block__inform-text Повышаем эффективность продвижения: аудит существующей модели
                .services__item-block-second.col-12
                    .services__item-block.search
                        img(src="../img/block_3.svg" alt="icon")
                        a(href="./services.html") 
                            p.service__text Находим скрытую прибыль: анализ модели ценообразования
                    .services__item-block.search
                        img(src="../img/block_4.svg" alt="icon")
                        a(href="./services.html")
                            p.service__text Запускаем новый проект: start-up маркетинг