@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Medium.ttf") format("truetype"),
    url("../fonts/Lato-Regular.ttf") format("truetype"),
    url("../fonts/Lato-Semibold.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Lato italic";
  src: url("../fonts/Lato-Italic.ttf") format("truetype");
  font-style: italic;
}   
