#main {
  padding: 94px 0 0px;
}
.row-container {
  display: flex;
  padding-top: 20px;
  align-items: center;
  position: relative;
  text-align: center;
  justify-content: space-between;
  background: url(../img/top-line.png) no-repeat;
  background-position: left 222px top 0;
}
.left-content {
  margin-top: -101px;
  text-align: left;
  padding: 10px 0;
}
.main-container-text {
  padding: 108px 0 0 32px;
  background: url(../img/bg-polygons.png) no-repeat;
  background-position: left top 0px;
  color: #282c37;
}
.main-title {
  font-size: 44px;
  margin-bottom: 4px;
  line-height: 54px;
  color: #282c37;
  font-family: "Montserrat";
  text-transform: uppercase;
}
.main-context {
  margin-bottom: 22px;
  font-size: 30px;
  line-height: 37px;
  font-family: "Montserrat";
  text-transform: uppercase;
}
.main-text {
  margin-bottom: 30px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  width: 90%;
  color: #282c37;
}
.main-discuss-btn {
  font-family: "Montserrat";
  height: 48px;
  width: 264px;
  border-radius: 8px;
  background: #47cf34;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.main-discuss-btn:hover {
  background: #30b01e;
  transition: 0.2s;
}
.cube-container {
  padding-left: 122px;
  margin-top: -6px;
}
.cube-img svg {
  width: 100%;
}
.center-line {
  height: 202px;
  width: 100%;
  position: absolute;
  top: 562px;
  left: 0;
  background: url(../img/center-line.png);
  background-position: center;
}
.row-container-faq {
  margin-top: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.faq-string {
  margin: 38px 0;
}
.faq-item {
  display: flex;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
.faq__text {
  font-family: "Lato";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  margin: 0;
}
.faq__svg {
  width: 10%;
}
.col-9 a {
  color: #282c37;
  text-decoration: none;
}
.col-9 a:hover {
  color: #5391dc;
  transition: 0.2s;
  text-decoration: underline;
}
.bottom-line {
  height: 168px;
  width: 100%;
  position: absolute;
  top: 998px;
  left: 0;
  background: url(../img/bottom-line.png) no-repeat;
  background-position: center;
}

@media (max-width: 1200px) {
  .cube-container {
    padding-left: 22px;
  }
}
@media (max-width: 1061px) {
  .bottom-line {
    top: 1028px;
  }
}
@media (max-width: 992px) {
  #main {
    padding: 25px 0;
  }
  .row-container {
    padding: 0 60px;
    background: url(../img/top-line-ipad.png) no-repeat;
    background-position: left 220px top 24px;
  }
  .center-line {
    background: url(../img/center-line-ipad.png) no-repeat;
    background-position: center;
    top: 370px;
  }
  .bottom-line {
    top: 759px;
    background: url(../img/bottom-line-ipad.png) no-repeat;
    background-position: center;
  }
  .left-content {
    margin-top: 0;
  }
  .main-container-text {
    position: relative;
    background: url(../img/bg-polygons.png) no-repeat;
    background-position: left 10px top 0px;
  }
  .cube-container {
    padding-top: 38px;
    margin: 0 auto 0 0;
    width: auto;
  }
  .cube-img svg {
    height: 250.8px;
  }
  .main-title {
    font-size: 28px;
    line-height: 34px;
  }
  .main-context {
    font-size: 18px;
    line-height: 22px;
  }
  .main-text {
    font-size: 14px;
    margin-bottom: 14px;
    line-height: 17px;
  }
  .row-container-faq {
    margin-top: 60px;
  }
  .service__blocks {
    background: red;
    padding: 0 15px;
  }
}
@media (max-width: 840px) {
  .bottom-line {
    top: 810px;
  }
}
@media (max-width: 768px) {
  #main {
    padding: 45px 0;
  }
  .row-container {
    background: none;
    flex-direction: column-reverse;
    padding: 0 40px;
  }
  .center-line {
    height: 102px;
    top: 626px;
    background: url(../img/arrows.png) no-repeat;
    background-position: center;
  }
  .bottom-line {
    background: none;
  }
  .main-container-text {
    background: none;
    padding: 12px 0;
    text-align: center;
    align-items: center;
  }
  .cube-container {
    margin: 0 auto;
    padding: 0;
  }
  .main-text {
    margin-bottom: 14px;
  }
  .row-container-faq {
    margin-top: 120px;
  }
  .col-6 {
    width: 100%;
    margin: 40px 0 0;
  }
  .section__title {
    background: none;
  }
}
@media (max-width: 390px) {
  .cube-img svg {
    height: auto;
  }
  .center-line {
    top: 668px;
  }
}
@media (max-width: 360px) {
  .cube-img svg {
    height: auto;
  }
  .center-line {
    top: 638px;
  }
}
