extends ../index.pug
block content
    section#training-page
        nav(aria-label='breadcrumb').breadcrumbs
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='/') Главная
                li.breadcrumb-item 
                    a(href="trening.html")  Тренинги
                li.breadcrumb-item.active(aria-current='page') Бизнес-тренинг «Маркетинг – технология роста»
                img(src="../img/Polygon-crumbs.svg" alt="polygon").bg-polygon
        .cube__img
            img(src="../img/pages-bg.png" alt="cube").img-fluid
        .container
            .col-12.page-title 
                h1.title-text Бизнес-тренинг «Маркетинг – технология роста»
                p.page-context Для кого: руководители компаний, маркетологи, продавцы
                p.page-text Цели бизнес-тренинга:
                .col-10.page-items
                    .content__block
                        img(src="../img/icons/card-cube.png" alt="cube").cube__content
                        p.card-text-side Определение маркетинга как технологии роста
                    .content__block
                        img(src="../img/icons/card-cube.png" alt="cube").cube__content
                        p.card-text-side Организация маркетинга как сквозного бизнес-процесса
                    .content__block
                        img(src="../img/icons/card-cube.png" alt="cube").cube__content
                        p.card-text-side Получение практических навыков применения технологии маркетинга
                    button.card__btn
                        a(href="training-page.html") подробнее 
                            img(src="../img/icons/next-btn.png" alt="next-btn")
            .col-12.page-second-title
                h1.title-text Программа бизнес-тренинга
                p.page-context Функция маркетинга как бизнес-технологиии
                .col-10.page-items
                    .content__block
                        img(src="../img/icons/service-polygon.png" alt="cube").cube__content
                        p.card-text-side Рынок как динамическая система взаимодействия потребительской и конкурентной сред
                    .content__block
                        img(src="../img/icons/service-polygon.png" alt="cube").cube__content
                        p.card-text-side Поиск точек роста в непрерывно меняющейся рыночной среде
                    .content__block
                        img(src="../img/icons/service-polygon.png" alt="cube").cube__content
                        p.card-text-side Прибыль компании как производная от управления маркетингом
                    .content__block
                        img(src="../img/icons/service-polygon.png" alt="cube").cube__content
                        p.card-text-side Концепция 4Р маркетинга как универсальная модель реализации рыночных возможностей
            .col-12.page-third-title
                h1.title-text Практический инструментарий
                .col-12.page-items
                    .content__block
                        img(src="../img/icons/service-polygon.png" alt="cube").cube__content
                        p.card-text-side Количественные и качественные методы исследования рынка. Первичная информация как основа формирования эффективной стратегии. Отсутствие системности в получении и обработке информации – ключевые проблемы. Целеполагание на основе исследований.
                    .content__block
                        img(src="../img/icons/service-polygon.png" alt="cube").cube__content
                        p.card-text-side Формирование товарной матрицы. Технология категорийного менеджмента. Кросс -конкурентный анализ, определение ролей продукта в товарной матрице. 
                    .content__block
                        img(src="../img/icons/service-polygon.png" alt="cube").cube__content
                        p.card-text-side Ценообразование на основе рыночной ценности продукта. Выбор ценового позиционирования относительно конкурентов. Управление маржинальностью.
                    .content__block
                        img(src="../img/icons/service-polygon.png" alt="cube").cube__content
                        p.card-text-side Управление коммуникациями с рынком. «Золотое» правило продвижения. Правила выбора каналов коммуникаций. Модели оценки эффективности затрат. Технологии интернет-маркетинга как эффективное дополнение к традиционным каналам продвижения. Основные ошибки в стратегии продвижения
                    .content__block
                        img(src="../img/icons/service-polygon.png" alt="cube").cube__content
                        p.card-text-side Аналитика данных. Оцифрованная картина рынка как основа принятия эффективных решений. Типовые формы анализа основных показателей.  
            .col-12.page-fourth-title
                h1.title-text Организация маркетинга в компании
                .col-12.page-items
                    .content__block
                        img(src="../img/icons/service-polygon.png" alt="cube").cube__content
                        p.card-text-side Принципиальная схема бизнес-процесса маркетинга. Наиболее узкие места. Критерии оценки эффективности
                    .content__block
                        img(src="../img/icons/service-polygon.png" alt="cube").cube__content
                        p.card-text-side Маркетинг-план как дорожная карта развития. Структура. Этапы планирования. Контрольные точки выполнения. 
                    .content__block
                        img(src="../img/icons/service-polygon.png" alt="cube").cube__content
                        p.card-text-side Взаимодействие служб маркетинга и продаж как основа успешной реализации планов. Устранение разрывов в понимании рыночной ситуации. Создание общего информационного поля.
            .col-12.page-five-title
                h1.title-text Кейсы-примеры:
                .col-12.page-items
                    .content__block
                        img(src="../img/icons/service-polygon.png" alt="cube").cube__content
                        p.card-text-side «Догнать и перегнать лидера рынка»
                    .content__block
                        img(src="../img/icons/service-polygon.png" alt="cube").cube__content
                        p.card-text-side «Увеличить прибыль на падающем рынке»
                    .content__block
                        img(src="../img/icons/service-polygon.png" alt="cube").cube__content
                        p.card-text-side «Увеличить прибыль на падающем рынке»
                    .content__block
                        img(src="../img/icons/service-polygon.png" alt="cube").cube__content
                        p.card-text-side «Повышаем маржинальность, не выходя из кабинета»
            .col-12.page-six-title
                h1.title-text Кейсы-примеры:
                .col-12.page-items
                    .content__block
                        p.card-text-side С заказчиком предварительно согласуется наиболее актуальная проблема. В заключительной части тренинга в ходе совместного обсуждения определяются подходы к ее решению. Результатом является определение целей и плана действий по их достижению.
            .col-12.page-seven-title
                h1.title-text Бонусы
                .col-12.page-items
                    .content__block
                        p.card-text-side 5 часов бесплатных консультаций в течение месяца после проведения тренинга.
                        p.card-text-side Набор шаблонов для анализа ключевых показателей.
            .col-12.page-eight-title
                h1.title-text Преимущества бизнес-тренинга:
                .col-12.page-items
                    .content__block
                        img(src="../img/icons/service-polygon.png" alt="cube").cube__content
                        p.card-text-side Составлен на основе опыта решения конкретных задач
                    .content__block
                        img(src="../img/icons/service-polygon.png" alt="cube").cube__content
                        p.card-text-side Только необходимый минимум теории, не рассматривается плохо применяемый на практике инструментарий
                    .content__block
                        img(src="../img/icons/service-polygon.png" alt="cube").cube__content
                        p.card-text-side Акцент на реальных примерах с разбором ошибок
                    .content__block
                        img(src="../img/icons/service-polygon.png" alt="cube").cube__content
                        p.card-text-side Направлен на практическую реализацию, начиная с завтрашнего дня
            .col-12.page-nine-title
                h1.title-text Форматы проведения:
                .col-12.page-items
                    .content__block
                        img(src="../img/icons/service-polygon.png" alt="cube").cube__content
                        p.card-text-side Групповой онлайн-формат, продолжительность 3 дня, по 4 часа в день
                    .content__block
                        img(src="../img/icons/service-polygon.png" alt="cube").cube__content
                        p.card-text-side Индивидуальный онлайн-формат, продолжительность 2 дня, по 4 часа в день
                    .content__block
                        img(src="../img/icons/service-polygon.png" alt="cube").cube__content
                        p.card-text-side групповой офлайн-формат, продолжительность 2 дня, по 8 часов в день
            .modal-content
                form.order    
                    input#name.input(type="text" name="name", placeholder= "Ваше имя")
                    label.input__message(for="name")
                    input#email.input(type="text" name="email", placeholder= "Email")
                    label.input__message(for="email")
                    button.sendBtn Получить консультацию
gi