extends ../index.pug
block content
    section#service-page
        nav(aria-label='breadcrumb').breadcrumbs
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='/') Главная
                li.breadcrumb-item 
                    a(href="/")  Услуги
                li.breadcrumb-item.active(aria-current='page') Разрабатываем маркетинг-план: дорожная карта достижения целей
                img(src="../img/Polygon-crumbs.svg" alt="polygon").bg-polygon
        .cube__img
            img(src="../img/pages-bg.png" alt="cube").img-fluid
        .container
            .col-12.page-title 
                h1.title-text Разрабатываем маркетинг-план: дорожная карта достижения целей
                .col-10.page-items
                    .content__block
                        img(src="../img/icons/card-cube.png" alt="cube").cube__content
                        p.card-text-side Делаем прогноз развития рынка
                    .content__block
                        img(src="../img/icons/card-cube.png" alt="cube").cube__content
                        p.card-text-side Проводим сравнительный анализ стратегий конкурентов
                    .content__block
                        img(src="../img/icons/card-cube.png" alt="cube").cube__content
                        p.card-text-side Определяем точки роста
                    .content__block
                        img(src="../img/icons/card-cube.png" alt="cube").cube__content
                        p.card-text-side Ставим объективные цели
                    .content__block
                        img(src="../img/icons/card-cube.png" alt="cube").cube__content
                        p.card-text-side Разрабатываем план и модель контроля его выполнения
            .col-12.about-services
                h2.about__title Описание услуги
                .col-11.about__content
                    p.about__text Любая компания ставит себе цель непрерывного развития, которая отражается в итоговом плане действий по ее достижению. Основным измерением достижения цели является рост прибыли по результатам планируемого периода. Понимание траектории развития рынка, положения и стратегий его основных участников, позволяет правильно оценить свои возможности и поставить объективно достижимые цели. 
                    p.about__text Конкретный план действий по достижению целей разрабатывается на основе потребительских трендов и прогноза действий конкурентов.
                    p.about__text Математическая модель контроля позволяет на основе сравнения плановых и фактических измеряемых величин контролировать ситуацию и своевременно предпринимать необходимые действия.
                    p.about__text Основные этапы разработки 
                        a(href="#").text_link маркетинг-плана:
                .col-12.marketing-plan
                    .content__block
                        img(src="../img/icons/service-polygon.png" alt="cube").cube__content
                        p.card-text-side Рынок как динамическая система взаимодействия потребительской и конкурентной сред
                    .content__block
                        img(src="../img/icons/service-polygon.png" alt="cube").cube__content
                        p.card-text-side Поиск точек роста в непрерывно меняющейся рыночной среде
                    .content__block
                        img(src="../img/icons/service-polygon.png" alt="cube").cube__content
                        p.card-text-side Прибыль компании как производная от управления маркетингом
                    .content__block
                        img(src="../img/icons/service-polygon.png" alt="cube").cube__content
                        p.card-text-side Концепция 4Р маркетинга как универсальная модель реализации рыночных возможностей
            .modal-content
                form.order    
                    input#name.input(type="text" name="name", placeholder= "Ваше имя")
                    label.input__message(for="name")
                    input#email.input(type="text" name="email", placeholder= "Email")
                    label.input__message(for="email")
                    button.sendBtn Получить консультацию
