@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@700&display=swap');
@import url(./styles/header.scss);
@import url(./styles/main.scss);
@import url(./styles/footer.scss);
@import url(./styles/font-lato.scss);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    scroll-behavior: smooth;
}
.container{
    align-items: center;
    justify-content: center;
}
